body {
    padding-left: 15%;
    padding-right: 15%
}

@media (max-width: 600px) {
    body {
        padding-left: 10px;
    }
}

a {
    font-family: 'Source Code Pro', monospace;
    cursor: pointer;
    color: white;
    text-decoration: underline;
    text-decoration-color: transparent;
    transition: color 125ms, text-decoration-color 200ms;
}

a:link, #a, #b, #c {
    color: #ffb6c1 !important;
}

a:visited {
    color: #ffb6c1 !important;
}

a:hover {
    color: grey !important;
}

p {
    margin-block-start: 0.7em;
    margin-block-end: 0.7em;
}

#name {
    font-family: 'Lora', serif;
    font-style: italic;
    font-size: 1.5em; /*already large from all.css*/
}

#menu {
    font-size: 1.75em;
}

#subtext {
    font-size: 16px;
}

#me {
    margin-left: 30px;
    position: relative;
    width: 20%;
    height: 100%;
    /* currently disabled */
    display: none;
}

@media (max-width: 779px) {                  
    #me {
       display: none;
    }
}

#top, #bot {
    border-radius: 10%;
    max-width: 100%;
    height: auto;
    transition: opacity 300ms;
}

#top {
    display: inline-block;
    position: absolute;
    margin-left: 0;
    margin-top: 0;
}

#bot {
    position: absolute;
    margin-left: 0;
    z-index: -1;
}

#top:hover {
    opacity: 0;
}

#content {
    height: 100%;
    padding-top: 30px;
    padding-bottom: 60px;
    margin-right: 25%;
    font-family: 'Roboto', sans-serif;
    font-size: 1.7em;
    line-height: 1.4;
}

@media (max-width: 600px) {
    #content {
        padding-left: 10px;
        margin-right: 0;
    }
}

#about, #contact, #resume {
    display: none;   
}
