#links {
    font-size: 2.5em;
    padding: 40px;
}

/* greeting fades in from 0 to 0.5 seconds on page load*/
#mor {
    display: none;
    animation: 0.5s ease-in 0s 1 fadeIn;
}
#aft {
    display: none;
    animation: 0.5s ease-in 0s 1 fadeIn;
}
#eve {
    display: none;
    animation: 0.5s ease-in 0s 1 fadeIn;
}
#nig {
    display: none;
    animation: 0.5s ease-in 0s 1 fadeIn;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 100;
    }
}