@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

/* Colors */
/**
Morning: 6am-12pm

Afternoon: 12pm-7pm

Evening: 7pm-10pm

Night: 10pm-6am

**/
body {
  background-color: rgb(19, 22, 23);
  color: white;
  overflow: hidden;
}

h1, .blinking-cursor {
    font-family: 'Source Code Pro', monospace;
    font-size: 3.5em;
}

a {
  font-family: 'Source Code Pro', monospace;
  text-decoration: none;
  transition: color 125ms;
}

a:visited, a:active {
  color: white;
}

a:hover {
  color: grey;
}

footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  padding-left: 40px;
  padding-bottom: 20px;
  text-align: left;
  font-family: 'Pacifico', cursive;
  font-size: 1.25em; 
}

#header {
    padding: 40px;
    width: 100%;
}

#content {
  font-size: 2.5em;
  padding: 40px;
}

#menu {
  padding-left: 100px;
}

/* greeting fades in from 0 to 0.5 seconds on page load*/
#mor {
    display: none;
    animation: 0.5s ease-in 0s 1 fadeIn;
}
#aft {
    display: none;
    animation: 0.5s ease-in 0s 1 fadeIn;
}
#eve {
    display: none;
    animation: 0.5s ease-in 0s 1 fadeIn;
}
#nig {
    display: none;
    animation: 0.5s ease-in 0s 1 fadeIn;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 100;
    }
}

#copyr {
 font-size: 0.7em;
} 
#copyyear {
  font-size: 0.8em;
}

#name {
  font-family: 'Pacifico', cursive;
}



/* Blinking cursor in CSS3 - By Artem Gordinsky */

.blinking-cursor {
    color: #c5c5c5;
    font-size: inherit;
    -webkit-animation: 1s blink step-end infinite;
    -moz-animation: 1s blink step-end infinite;
    -ms-animation: 1s blink step-end infinite;
    -o-animation: 1s blink step-end infinite;
    animation: 1s blink step-end infinite;
  }
  
  @keyframes blink {
    from, to {
      color: transparent;
    }
    50% {
      color: #c5c5c5;
    }
  }
  
  @-moz-keyframes blink {
    from, to {
      color: transparent;
    }
    50% {
      color: #c5c5c5;
    }
  }
  
  @-webkit-keyframes blink {
    from, to {
      color: transparent;
    }
    50% {
      color: #c5c5c5;
    }
  }
  
  @-ms-keyframes blink {
    from, to {
      color: transparent;
    }
    50% {
      color: #c5c5c5;
    }
  }
  
  @-o-keyframes blink {
    from, to {
      color: transparent;
    }
    50% {
      color: #c5c5c5;
    }
  }