@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro&display=swap');

body {
    background-color: rgb(19, 22, 23);
    color: white;
    padding: 2.5%;
    overflow-x: hidden;
    font-family: 'Source Code Pro', monospace;
}

h2 {
    font-weight: bold;
    font-size: 2.5em;
}

#container {
    padding-left: 10%;
    padding-right: 10%;
    font-size: 2em;
}

.column {
    float: left;
    width: 40%;
}

span {
    font-weight: bold;
    background-color: darkslategrey;
}